
;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

[:find
 (pull ?commit [{:git.commit/repo
                 [:git.repo/source-id
                  :git.repo/name
                  :git.provider/url
                  {:git.repo/org
                   [:github.org/installation-token
                    :git.org/source-id
                    :git.org/name
                    :git.provider/url]}]}
                {:git.commit/email
                 [:email.email/address]}
                {:git.commit/author
                 [:git.user/login
                  :git.user/name
                  {:git.user/emails [:email.email/address]}]}
                :git.commit/sha])
 (pull ?evidence [{:package.evidence/dependency
                   [:package.dependency/license
                    :package.dependency/fileName]}
                  :package.evidence/confidence
                  :package.evidence/source
                  {:package.evidence/purl
                   [:package.url/url
                    {:package.url/cves
                     [:vulnerability.cve/source
                      :vulnerability.cve/cvss-score
                      :vulnerability.cve/severity
                      :vulnerability.cve/source-id]}]}
                  {:package.evidence/cpe
                   [:vulnerability.cpe/url
                    {:vulnerability.cpe/cves
                     [:vulnerability.cve/source
                      :vulnerability.cve/cvss-score
                      :vulnerability.cve/severity
                      :vulnerability.cve/source-id]}]}])
 :in $ $before % ?ctx
 :where
 (attributes-tx ?ctx ?discovery :dependency.analysis.discovery/status ?status)
 [?discovery :dependency.analysis.discovery/status :dependency.analysis.discovery.status/COMPLETE]
 [?discovery :dependency.analysis.discovery/source :dependency.analysis.discovery.source/OWASP_DEPENDENCY_SCANNER]
 [?discovery :dependency.analysis.discovery/commit ?commit]
 [?evidence :package.evidence/commit ?commit]
 (or-join [?evidence ?cve]
          (and [?evidence :package.evidence/cpe ?cpe]
               [?cpe :vulnerability.cpe/cves ?cve])
          (and [?evidence :package.evidence/purl ?purl]
               [?purl :package.url/cves ?cve]))]
