
;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

[:find
 (pull ?commit [{:git.commit/repo
                 [:git.repo/source-id
                  :git.repo/name
                  :git.provider/url
                  {:git.repo/org
                   [:github.org/installation-token
                    :git.org/name
                    :git.provider/url]}]}
                {:git.commit/email
                 [:email.email/address]}
                {:git.commit/author
                 [:git.user/login
                  :git.user/name
                  {:git.user/emails [:email.email/address]}]}
                :git.commit/sha])
 (pull ?cve [:vulnerability.cve/source
             :vulnerability.cpe/evidence
             :vulnerability.cve/source-id
             :vulnerability.cve/cvss-score
             {:vulnerability.cpe/_cves
              [{:vulnerability.cpe/evidence
                [{:package.evidence/dependency
                  [:package.dependency/license
                   :package.dependency/fileName]}
                 :package.evidence/confidence
                 :package.evidence/source]}]}
             {:package.url/_cves
              [{:package.url/evidence
                [{:package.evidence/dependency
                  [:package.dependency/license
                   :package.dependency/fileName]}
                 :package.evidence/confidence
                 :package.evidence/source]}]}])
 :in $ $before %
 :where
 (tx-entity-attr-value :dependency.analysis.discovery/status ?discovery ?status)
 [?discovery :dependency.analysis.discovery/status :dependency.analysis.discovery.status/COMPLETE]
 [?discovery :dependency.analysis.discovery/source :dependency.analysis.discovery.source/OWASP_DEPENDENCY_SCANNER]
 [?discovery :dependency.analysis.discovery/commit ?commit]
 [?commit :git.commit/dependency-evidence ?evidence]
 [?evidence :package.evidence/dependency ?deps]
 (or-join [?cve]
          (and [?cpe :vulnerability.cpe/evidence ?evidence]
               [?cpe :vulnerability.cpe/cves ?cve])
          (and [?purl :package.url/evidence ?evidence]
               [?purl :package.url/cves ?cve]))]
