[:find
 (pull ?commit [:git.commit/sha
                {:git.commit/file
                 [:git.file/path
                  :git.file/sha]}
                {:git.commit/repo
                 [:git.repo/source-id
                  :git.repo/name
                  :git.provider/url
                  {:git.repo/org
                   [:github.org/installation-token
                    :git.org/source-id
                    :git.org/name
                    :git.provider/url]}]}])
 (pull ?maven-repo [:maven.repository/url
                    :maven.repository/secret
                    :maven.repository/username
                    :maven.repository/repository-id])
 ?usage
 :in $ $before-db % ?ctx
 :where
 (get-skill-config-value ?ctx "other-files-to-index" ["project.clj" "deps.edn" "pom.xml"] ?path-exists)
 (get-skill-config-value ?ctx "path-not-exists" [] ?path-not-exists)
 (get-skill-config-value ?ctx "branch-filters" [] ?branch-filters)

 ;; (tx-push-with-content ?branch-filters false ?path-exists ?path-not-exists ?commit)
 ;; only enabled for Clojure
 ;; (repo-selected? ?repo)
 ;; (repo-language ?repo "Clojure")

 ;; first, tx must contain one of the things we care about, or other content indexing could trigger this
 (or-join [?ctx ?commit ?path-exists ?path-not-exists]
          (and
           (attributes-tx ?ctx ?commit :git.commit/file ?file)
           [?file :git.file/path ?file-path]
           (array-contains? ?path-exists ?file-path))
          (and
           (attributes-tx ?ctx ?commit :git.commit/not-file-paths ?file-path)
           (array-contains? ?path-not-exists ?file-path)))

 ;; if path-not-exists is empty or the commit has none of the not-contains-paths
 (or-join [?commit ?path-not-exists]
          [(empty? ?path-not-exists)]
          (files-not-exist? ?commit ?path-not-exists))
 [?commit :git.commit/repo ?repo]
 ;; apply repo filter
 (skill-repo-selected? ?ctx ?repo)
 ;; check branch filters
 [(ground false) ?default-only]
 [?ref :git.ref/commit ?commit]
 (or-join [?ref ?default-only ?branch-filters]
          (and
           ;; TODO - this can never be true
           [(true? ?default-only)]
           (is-default-branch? ?ref))
          (and
           ;; this is always ture
           [(false? ?default-only)]
           [?ref :git.ref/name ?branch-name]
           (array-contains? ?branch-filters ?branch-name))
          (and
           ;; this is always true
           [(false? ?default-only)]
           [(empty? ?branch-filters)]))
 ;; get the maven capability
 (skill-capability-configuration ?ctx "atomist" "MavenRepository" ?usage ?maven-repo)]
