[:find
 (pull ?commit [:git.commit/sha
                {:git.commit/repo [:git.repo/source-id
                                   :git.repo/name
                                   :git.provider/url
                                   {:git.repo/org [:github.org/installation-token
                                                   :git.org/name
                                                   :git.provider/url]}]}])
 (pull ?maven-repo [:maven.repository/url
                    :maven.repository/secret
                    :maven.repository/username
                    :maven.repository/repository-id])
 ?usage
 :in $ $before-db %
 :where
 (get-config-value "other-files-to-index" ["project.clj"] ?path-exists)
 (get-config-value "path-not-exists" [] ?path-not-exists)
 (get-config-value "branch-filters" [] ?branch-filters)
 (tx-push-with-content ?branch-filters false ?path-exists ?path-not-exists ?commit)
 [?commit :git.commit/repo ?repo]
 (repo-language ?repo "Clojure")
 (capability-configuration "atomist" "MavenRepository" ?usage ?maven-repo)]
