;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:namespace "atomist"
 :homepageUrl "https://github.com/atomist-skills/owasp-dependency-check-skill"
 :name "owasp-dependency-check-skill"
 :displayName "owasp dependency check skill"
 :description "This section supports markdown"
 :author "slimslenderslacks"
 :license "unknown"
 :iconUrl "https://images.atomist.com/rug/atomist.png"
 :capabilities {:requires [{:namespace "atomist"
                            :name "MavenRepository"
                            :minRequired 0
                            :usage "resolve"
                            :displayName "Artifact Resolution Repository"
                            :description "One or more repositories required for artifact resolution"
                            :scopes ["configuration"]}]}
 :parameters
 [{:fileFilter
   {:name "path-not-exists"
    :displayName "Do not deploy from any repos that contain files from this list of paths"
    :description "Existence of these files means that this tag should be skipped"
    :placeHolder "Dockerfile"
    :required false}}
  {:fileFilter
   {:name "other-files-to-index"
    :description "Paths to index"
    :visibility "hidden"
    :defaultValue ["project.clj"]
    :required false}}
  {:stringArray
   {:name "branch-filters"
    :displayName "filter branches"
    :description "filter branches that should have owasp dependency analysis"
    :placeHolder "Dockerfile"
    :required false}}
  {:secret
   {:name "db-password"
    :description "CVE Database Password"
    :displayName "CVE Database Password"
    :required true}}
  {:repoFilter
   {:description "The set of repositories to monitor for tags",
    :displayName "Repository Scope",
    :name "scope",
    :required true}}]
 :artifacts
 {:docker
  [{:name "owasp-dependency-check-skill"
    :image "gcr.io/atomist-container-skills/owasp-dependency-check-skill"
    :resources
    {:request {:cpu 0.5, :memory 1000},
     :limit {:cpu 1, :memory 1000}}}]}}
