;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:attributes
 {:package/url {:db.entity/attrs [:package.url/url]}
  :package.url/url {:db/valueType :db.type/string
                    :db/cardinality :db.cardinality/one}
  :package.url/evidence {:db/valueType :db.type/ref
                         :db/cardinality :db.cardinality/many}
  :package.url/search-url {:db/valueType :db.type/string
                           :db/cardinality :db.cardinality/one}

  :package/evidence {:db.entity/attrs [:schema/random-guid]}
  :package.evidence/dependency {:db/valueType :db.type/ref
                                :db/cardinality :db.cardinality/one}
  :package.evidence/source {:db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/one}
  :package.evidence/confidence {:db/valueType :db.type/string
                                :db/cardinality :db.cardinality/one}
  :package.evidence.source/DEPENDENCY_CHECK {}

  :package/dependency {:db.entity/attrs [:package.dependency/sha256]}
  :package.dependency/sha256 {:db/valueType :db.type/string
                              :db/cardinality :db.cardinality/one}
  :package.dependency/fileName {:db/valueType :db.type/string
                                :db/cardinality :db.cardinality/one}
  :package.dependency/license {:db/valueType :db.type/string
                               :db/cardinality :db.cardinality/one}

  ;; -------------

  :vulnerability.cve/source {:db/valueType :db.type/ref
                             :db/cardinality :db.cardinality/one}
  :vulnerability.cve.source/NVD {}
  :vulnerability.cve.source/RETIREJS {}
  :vulnerability.cve.source/OSSINDEX {}

  ;; adding some attributes to the vulnerability.cpe
  :vulnerability.cpe/search-url {:db/valueType :db.type/string
                                 :db/cardinality :db.cardinality/one}
  :vulnerability.cpe/evidence {:db/valueType :db.type/ref
                               :db/cardinality :db.cardinality/many}

  ;; adding some attributes to the Commit
  :git.commit/dependencies {:db/valueType :db.type/ref
                            :db/cardinality :db.cardinality/many}

  :git.commit/vulnerabilites {:db/valueType :db.type/ref
                              :db/cardinality :db.cardinality/many}}}
